        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            margin-top: 100px;
            background-color: rgb(104, 83, 104);
        }
        
        p {
            text-align: center;
            font-size: 30px;
        }
        
        button {
            box-sizing: border-box;
            padding: 10px;
            background-color: green;
            font-family: Arial, Helvetica, sans-serif;
            color: gold;
        }
        
        button:hover {
            background-color: black;
            color: wheat;
            transition: 1s;
        }